body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
background-image: url("tik-tak-back.jpg");
/* background-repeat: no-repeat; */
}


.container {
    text-align: center;
    background-color: #FF8225;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color:white;
    font-size: 36px;
}

.mode-selection, .difficulty-selection {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(0, 0, 0);
    color: rgb(243, 239, 239);
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color:#3c7af7;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    display: none; /* Initially hidden */
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.cell {
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell.marked {
    animation: pop 0.2s forwards;
}

.game-info {
    font-size: 20px;
    color: #ffffff;
    display: none; /* Initially hidden */
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

#change-mode {
    display: none; /* Initially hidden */
    background-color: #000000;
}

#change-mode:hover {
    background-color: #3c7af7;
}

.status.computer-turn {
    color: #fffefe;
}

.status.player-turn {
    color: #fdfeff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #fff;
    }
    50% {
        transform: scale(1.1);
        background-color: #ffeb3b;
    }
    100% {
        transform: scale(1);
        background-color: #fff;
    }
}
